In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', sep = ',', encoding = 'latin-1')

In [9]:
df.head(2)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.0,39728.0,40551.0,41389.0,42228.0
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.0,0.0,0.0,0.0,0.0